In [1]:
from pydantic import BaseModel

In [2]:
class person(BaseModel):
    name: str
    age: int
    city:str

In [3]:
person=person(name='Aditya',age=30,city='Mumbai')
person

person(name='Aditya', age=30, city='Mumbai')

In [4]:
type(person)

__main__.person

In [5]:
person1=person(name='Aditya',age=30,city=12)
print(person1)

TypeError: 'person' object is not callable

In [7]:
from typing import Optional
class Employee(BaseModel):
    name: str
    age: int
    city: Optional[str] = None
    indian:Optional[bool] = True

In [9]:
employee=Employee(name='Rahul',age=28,city='Delhi')
employee

Employee(name='Rahul', age=28, city='Delhi', indian=True)

In [16]:
from typing import Optional
from typing import List
class Student(BaseModel):
    name: List[str]
    age: int
    marks:Optional[float]=None

In [17]:
John=Student(name=['John','Willson'],age=20,marks=88.5)
John

Student(name=['John', 'Willson'], age=20, marks=88.5)

In [18]:
#Nested Model
class Address(BaseModel):
    city: str
    state: str
    country: str

class Employee(BaseModel):  
    name: str
    age: int
    address: Address

In [19]:
employee1=Employee(name='Aditya',age=30,address=Address(city='Mumbai',state='Maharashtra',country='India'))

In [20]:
employee1

Employee(name='Aditya', age=30, address=Address(city='Mumbai', state='Maharashtra', country='India'))

In [30]:
#Field
from pydantic import Field
class Employee(BaseModel):  
    name: str = Field(max_length=50, description="The name of the employee")
    price:int=Field(gt=0,lt=100,description="The price of the product")

In [32]:
John=Employee(name='John',price=20)
John

Employee(name='John', price=20)

In [34]:
John.schema_json()

C:\Users\a864911\AppData\Local\Temp\ipykernel_25620\2718813356.py:1: PydanticDeprecatedSince20: The `schema_json` method is deprecated; use `model_json_schema` and json.dumps instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.12/migration/
  John.schema_json()

'{"properties": {"name": {"description": "The name of the employee", "maxLength": 50, "title": "Name", "type": "string"}, "price": {"description": "The price of the product", "exclusiveMaximum": 100, "exclusiveMinimum": 0, "title": "Price", "type": "integer"}}, "required": ["name", "price"], "title": "Employee", "type": "object"}'